/* Media Queries -------------*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contact-content p {
    font-size: 15px;
  }
}

/*    Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service > p { font-size: 18px; }
  .contact-content p {
    font-size: 18px;
    padding: 15px 0;
  }
  .navbar-nav > li {
  padding: 6px;
  }
  .navbar-inverse .navbar-nav > li > a {
  font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  header,
  section#services-area,
  section#contact-area {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 767px) {
  header {
    height: 75vh;
    padding: 0 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ul#menu { display:none; }

  .slicknav_menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background:none;
  }
  .header-content h1 {
   font-size: 55px;
  }
  .feature-content {
    max-width: 360px;
    margin: 0 auto 30px;
  }
  .feature-content-title {
   text-align: center;
  }
  .feature-content-description{
    text-align: justify;
  }
  .footer-content h4 { font-size: 16px; }
  .navbar-nav>li { display: block; }
  .navbar-inverse {
    background: none;
    border: none;
  }
  .navbar-inverse .navbar-toggle { background-color: #333; }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: #49505F;
  }
  .navbar .navbar-nav {
    width: 100%;
    margin:0;
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-nav>li {
    width: 100%;
    border-bottom: 1px solid #999;
    padding:0px;
  }
  .navbar-nav>li:last-child { border-bottom: none;  }
  .navbar-inverse .navbar-nav>li>a {
    background:none;
    border: none;
    width: 100%;
    padding: 10px 0px;
  }
  .navbar-inverse .navbar-nav>li>a:focus,
  .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #383E4C;
  }
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
    background: #383E4C;
  }
  .navbar-inverse .navbar-nav > li > a { font-size: 16px; }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .single-page-nav {
    background-color: #383E4C;
    max-height: 0;
    -webkit-transition: max-height 0.8s;
            transition: max-height 0.8s;
    overflow: hidden;
  }

  .single-page-nav.show {
    max-height: 250px;
    overflow: auto;
  }
  .contact-form-left {
    padding-right: 0;
  }
  .contact-form-right {
    padding-left: 0;
  }
}

@media screen and (min-width: 761px) {
	.caption {
		width: 60%;
	}
  .footer {
		margin-bottom: 0;
  }
}

  /*    Wide Mobile Layout: 480px. */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-content h1 {
      font-size: 70px;
    }
  }

  @media only screen and (max-width: 520px) {
    .col-xxs-12 {
      width: 100%;
    }
  }

  @media only screen and (max-width: 480px) {
    header { height: 50vh; }
  }
  /* styling footer */
  footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #333;
    text-align: center;
    margin-top: 3%;
  }

  /*******Image Gallary*************/
  /*two column*/
  @media screen and (min-width: 20em) {
  	.gallery div {
  		width: 48%;
  	}
  }


  /*three column*/
  @media screen and (min-width: 40em) {
  	.gallery div {
  		width: 32%;
  	}
  }

  /*four column*/
  @media screen and (min-width: 75em) {
  	.gallery div {
  		width: 23.8%;
  	}
  }


  /*five column*/
  @media screen and (min-width: 100em) {
  	.gallery div {
  		width: 18.8%;
          max-width: 32%;
  	}
  }


  /*two column*/
  @media screen and (min-width: 20em) {
  	.gallery div {
  		width: 48%;
  	}
  }


  /*three column*/
  @media screen and (min-width: 40em) {
  	.gallery div {
  		width: 32%;
  	}
  }


  /*four column*/
  @media screen and (min-width: 75em) {
  	.gallery div {
  		width: 23.8%;
  	}
  }


  /*five column*/
  @media screen and (min-width: 100em) {
  	.gallery div {
  		width: 18.8%;
          max-width: 32%;
  	}
  }

  footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #333;
    text-align: center;
    margin-top: 3%;
  }
